// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'partials/_body.scss';

@import 'partials/_navbar.scss';

@import 'partials/_header.scss';

@import 'partials/_section_1.scss';

@import 'partials/_section_2.scss';

@import 'partials/_footer_part_1.scss';

.sfondo{
  width: 100%;
  background-color: #222222;
  background-image: url(https://www.dccomics.com/sites/all/themes/dc_comics_bp/images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.column{
  margin-top: 30px;
  h3{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  }
  li{
    color: #959595;
    list-style-type: none;
  }
}
.flex_3{
  display: flex;
  justify-content: flex-start;
}
.dc{
  position: relative;
  img{
    position: absolute;
    top: -20px;
  }
}
