// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}
// ********************** navbar ************************
@import 'partials/_navbar.scss';

// ******************** header *****************

.comic{
  width: 100%;
  background-color: #222222;
  position: relative;
  height: 200px;
  display: flex;
  .banner{
    background-color: #3797F6;
    width: 20%;
    padding: 5px;
    position: absolute;
    top: -20px;
    left: 100px;
    text-align: center;
    h4{
      color: white;
      text-transform: uppercase;
      font-size: bold;
    }
  }
}
.banner_link{
  width: 35%;
  position: absolute;
  top: 10px;
  right: 40px;
  a{
    color: grey;
    text-transform: uppercase;
    font-size: 700;
    margin: 0 10px;
  }
}
.card_one{
  padding-top: 50px;
  text-transform: uppercase;
  .flag{
    text-align: center;
    background-color: #3797F6;
    color: white;
  }
  .small_text{
    color: white;
  }
  .available{
    color: #3797F6;
  }
}
