main{
  margin-top: 30px;
  .must_read{
    display: flex;
    justify-content: space-between;
  }
  h3{
    color: #3797F6;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 40px;
  }
  .card_two{
    width: 30%;

    img{
      width: 100%;
    }
    h4{
      text-transform: uppercase;
      font-size: 10px;
      margin-top: 10px;
      color: #3797F6;
      font-weight: 700;
    }
    h2{
      font-size: 1.2rem;
      color: grey;
      text-transform: uppercase;
    }
    p{
      font-size: 10px;
      color: grey;
    }
  }
}
